@charset "utf-8";

body {
	background-color: #bc5a45;
}

h1{
	padding: 15px;
    color: #bc5a45;
	border: 5px solid #bc5a45;
	border-radius: 25px;
    background-color: #FFF5ED;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 1em;
    }

h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:#FFF5ED;
	margin: 1em;
}

p {
	margin: 1em;
	color:#FFF5ED;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 11pt;
}

.d1, .d2 {
	background-color: #f18973;
	margin: 1em;
	border: 5px solid #bc5a45;
	border-radius: 25px;
	}

.d3 {
	text-align:center;
	margin: 1em;
}

.img {
	width: 25%;
	display:inline-block;
}

/* Navigation */

.nav{
    border:1px solid #f18973;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav ul a:visited {
	color:#FFA6A8;
}
.nav ul a:link {
	color:#FFF5ED;
}

#list {
	margin-left: 3em;
	color:#FFF5ED;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 11pt;
}

/* PAGE 2 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.container {
	width: 85vmin;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: 15em;
}

.wrapper{
	width: 100%;
	display: flex;
	animation: slide 15s infinite;
}

img {
	width: 100%;
}

blockquote {
	color:#FFF5ED;
}


/* Animation */

@keyframes slide {
	0% {
		transform: translateX(0)
	}
	25% {
		transform: translateX(0)
	}
	30% {
		transform: translateX(-100%)
	}
	50% {
		transform: translateX(-100%)
	}
	
	55% {
		transform: translateX(-200%)
	}
	
	75% {
		transform: translateX(-200%)
	}
	
	80% {
		transform: translateX(-300%)
	}
	
	100% {
		transform: translateX(-300%)
	}
}